<p id="notice"><%= notice %></p>
<h1>Worst Restaurants</h1>
<!-- partial with locals (local variables) -->
<%= render 'list', restos: @worst_restaurants %>
<br>
<%= link_to 'New Restaurant', new_restaurant_path %>